* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.grid{
    border: 1px solid #ccc;
    height: 204px;
    width: 212px;
    margin: auto;
    margin-top: 100px;
    padding: 5px;  
    background-color: #aaa;
    border-radius: 1px;
}
.element{
	display: inline-block;
	background-color:  #ccc;
    margin: 0;
    padding: 0;
	height: 20px;
	width: 20px;
	border:1px solid #ddd;
	border-radius: 1px;
	box-sizing: border-box;
	overflow: hidden;
}

#first, #second, #third{
   background-color:  #777;
}